* {
  font-family: "sen", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: linear-gradient(-45deg,#23d5ab, #ee7752, #e73c7e, #ffd700 );
    animation: fondo 15s ease infinite;
  }
  .header {
    display: grid;
    z-index: 3;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-image: url("img/fondo1.jpg");
    /* background-image: url("img/fondo2.jpg"); */
    /* background-image: url("img/imagen3.jpg"); */
    /* background-image: url("img/fondo3.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  .header .txtP {
    font-size: 30px;
    text-align: center;
    grid-column: 2/3;
    color: #fff;
  }
  .header .bars {
    cursor: pointer;
    color: #fff;
    font-size: 40px;
    grid-column: 3/4;

  }

  .header .arrow {
    cursor: pointer;
    grid-column: 1/2;

    font-size: 60px;
  }
  .header h1 {
    color: #fff;
  }
  .aside {
    grid-area: aside;
  }

  #sidebar {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 170px;
    height: 100%;
    right: -170px;
    background: rgb(15, 17, 19);
    transition: all 0.5s ease-out;

    
  }
  #sidebar.active{
    justify-items: center;
    right: 0;
    transition: all 0.5s ease-in-out;
  }
  #sidebar .arrowEntrar{
      color: #fff;
      font-size: 40px;
      cursor: pointer;
  }
  .main {
    display: grid;
    grid-template-rows: 50vh 1fr 50vh;
    justify-items: center;
    align-items: center;
  }
  .main .F {
    font-size: 30px;
    color: #fff;
    text-align: center;
  }
  .main img {
    width: 42vh;
    height: 40vh;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px #151719;
  }
  .main .logoP {
    border: 8px solid #762626;
    margin-left: 0;
  }

  .div-img {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  .div-img .Tf{
      color: #fff;
      margin: 20px 20px;
      font-size: 30px;
      border-bottom:3px solid #FFD700;
  }
 
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 0 auto;
    background-image: url("img/fondo1.jpg");
    justify-items: center;
    gap: 5px;
    height: 60vh;
    color: #fff;
    z-index: 2;
  }
  .footer .fa-facebook {
    width: 30px;
    display: inline-block;

    height: 30px;
    margin: 5px;
    padding: 10px;
  }

  .footer .fa-instagram {
    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 5px 5px;
    padding: 10px;
  }
  /* .footer a{
    display: none;
  } */
  .footer .fa-whatsapp {
    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 10px;
  }
  .footer .copi {
    text-align: center;
    justify-content: center;
    color: #fff;
    padding: 10px 10px;
  }
  .footer .And {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #facb0b;
    box-shadow: 10px 10px 10px 10px #000;
  }
  li {
    list-style: none;
  }
  .footer ul {
    margin: 0 auto;
  }
  @keyframes fondo {
    0% {
      background-position: 100% 0%;
    }
    10%{
        background-position: 20% 40%;
    }
    50% {
      background-position: 80% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
